.post_wrapper {
	margin-bottom: 8px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px;
	text-indent: 12px;
	cursor: pointer;
	background-color:azure ;
}

.link_wrapper {
	text-decoration: none;
	color: black;
}
